.container_big-card{
  margin-left: 20px;
  margin-right: 10px;
  width: 450px;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.big_card-title > h1{
  margin-top: 15px;
  font-size: 20px;
}

.big_card-description{
  margin-top: 20px;
}

.big_card-description > p > a{
  color: gray;
}

.big_card-photo > img{
  width: 100%;
  min-width: 450px;


}
